language: node_js
node_js: "5.5"
before_install: 
  - npm install -g grunt-cli jasmine-node pm2
before_script:
install: 
  - npm install
  - git clone https://github.com/CityWebConsultants/iris-project-template.git
  - cd iris-project-template
  - mongo mysite --eval "db.users.drop()"
  - mongoimport --db mysite --collection users --file fixtures/users.json
  - mongoimport --db mysite --collection pages --file fixtures/pages.json
  - npm install  --save git+https://github.com/$TRAVIS_REPO_SLUG.git#$TRAVIS_BRANCH
  - npm install --only=dev
  - pm2 start index.js
  - sleep 60
services:
  - mongodb
env: site=default
addons:
  hosts:
    - www.iris.local