<!doctype html>

<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/admin/admin.css" />
<link rel="stylesheet" href="/admin/admin_menu.css" />

<title>Iris</title>

<body>

  <style>
    .main-container {
      margin: 0 auto;
      width: 800px;

      border: 1px solid #efefef;
      border-radius: 6px;
      padding: 20px;
      margin-top: 50px;
    }
  </style>

  <div class="main-container">

    <div class="iris-description">
      <h1>It works! {{ url }}</h1>

      <br />

      <p>Hi there! Iris is serving up this website, but there doesn't appear to be anything ready to use as a front page. To set a front page, go to the <a href="/admin">site administration section</a>, create a new <b>page</b> entity and give it a path of '/'.</p>

      <p>To replace this page or customize this message, have a look at <b>404.html</b> in your theme.</p>

      <br />

      <p><b>If you're expecting to see a website here</b>, it looks like the site's administrator is doing maintenance right now. Please check back here in a bit, or contact them if you know how.</p>

    </div>

  </div>

</body>

</html>
