body {
    font-size:16px;
}
a {
    color: #6258A4
}
#logo {
    float:left;
    color: #6258a4;
}
#site-name {
    font-size:40px;
}
#main-menu {
    float:right;
}
.caption {
    font-size:12px;
    color: #6258A4;
}
header {
    overflow:hidden;
    padding:20px;
    margin-bottom:10px;
}
footer {
    background: #555;
    padding: 20px;
    color: #fff;
}
#hp-1 {
    max-width:1120px;
    margin:auto;
}
#hp-1 h2 {
    color: #6258a4;
}
#hp-1-1 {
  text-align:center;    
}
#hp-2 {
    clear:both;
    background: linear-gradient(90deg, #6258a4 66.7%, transparent 33.3%);
    color:#fff;
    width:100%;
    position:relative;
    top:20px;
    overflow:hidden;
}
@media screen and (max-width:991px) {
    #hp-2 {
      background-color: #6258a4;
    }
}
#hp-2-1 {
    max-width:1120px;
    margin:auto;
}
#hp-2-1 li {
 margin:5px 0;   
}
#hp-2-1-1 {
    background-color: #6258a4;
    padding-bottom:20px;
}
#hp-3 {
    clear: both;
    overflow: hidden;
    padding-top: 180px;
    position: relative;
    margin-top: -150px;
    background: #eee;
    z-index: -100;
    padding-bottom: 20px;
    overflow:hidden;
}
#hp-3-1-1 {
    padding-top:30px;
    text-align:center;
}

#main-menu li {
    list-style:none;
    float:left;
    padding:12px 5px 0 5px;
    font-size:1.2em;
}
.page-1 #page-title {
  position:absolute;
  left:-1000px;
}