<link rel="stylesheet" href="/modules/system/admin_menu.css" />
<nav class="menu menu-{{menu.menuName}}">

  <ul class="menu">
    
    {{#menu.items}}
    
      {{#if (iris_menu path)}}
    
        <li {{#children}} class="has-children" {{/children}}>

      <a href="{{path}}">{{title}}</a>
          
          {{#if this.children}}
          <ul class="sub-menu">
              {{#children}}

          {{#if (iris_menu path)}}

            <li><a href="{{path}}">{{title}}</a></li>

          {{/if}}

          {{/children}}
          </ul>
          
          {{/if}}
      
    </li>
    
    {{/if}}

    {{/menu.items}}

  </ul>

</nav>