  <script src="/admin/Sortable.js"></script>

  <link rel="stylesheet" style="text/css" href="/admin/jsonform/deps/opt/bootstrap.css" />
  <link rel="stylesheet" href="/admin/admin.css" />
  <script src="/admin/jsonform/deps/jquery.min.js"></script>
  <script src="/admin/regions.js"></script>

  <h1>Blocks and Regions</h1>

  <div class="block-config">

    <div class="block-types">

      <div class="block-types__title">

        <h3>New block</h3>
        <h3>Available block types</h3>

      </div>

      <ul id="block-types-list"></ul>

    </div>

    <h3>Regions</h3>

    <ul class="regions" id="regions-container"></ul>

  </div>

  <form id="block-config-form">

    <input class="btn" type="submit" value="Save" />

  </form>



