<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="//cdn.ckeditor.com/4.5.3/standard/ckeditor.js"></script>

  <script src="/entity_views/angular.js"></script>
  <script src="/socket.io/socket.io.js"></script>
    <script src="/admin/jsonform/deps/jquery.min.js"></script>

<!--  <script src="/entity_views/entity-viewer.js"></script>-->
  <script src="/entity_views/templates.js"></script>


  <link rel="stylesheet" href="/admin/admin.css" />

</head>

<body>

  <h1>List of <<entitytype>> entities</h1>

  <section ng-controller="C" data-entities="<<entitytype>>">

    <<entitytable>>

  </section>

</body>

</html>
