<script src="/admin/jsonform/deps/jquery.min.js"></script>
<script src="/admin/jsonform/deps/underscore-min.js"></script>
<script src="/admin/jsonform/deps/opt/jquery.ui.custom.js"></script>
<script src="/admin/jsonform/deps/opt/bootstrap-dropdown.js"></script>
<script src="/admin/jsonform/deps/opt/bootstrap-typeahead.js"></script>
<script src="/admin/jsonform/deps/opt/bootstrap-tagsinput.min.js"></script>
<script src="/admin/jsonform/deps/opt/spectrum.js"></script>
<script src="/admin/jsonform/deps/opt/jquery.transloadit2.js"></script>

<script src="/admin/jsonform/lib/jsonform.js"></script>

<h1></h1>

<script>
  $(document).ready(function() {

    var path = document.location.pathname.split("/");

    var type = path[path.length - 2];
    var id = path[path.length - 1];

    $("h1").text("Delete " + id + '?');

    // Confirmation form handler

    $("#delete-confirm").submit(function (e) {

      e.preventDefault();

      var values = {};

      $.post("/entity/delete/" + type + "/" + id, values, function(err, data) {

        document.location.href = "/admin/entitylist/" + type;

      });

    });

    $("#cancel").click(function (e) {

      e.preventDefault();

      document.location.href = "/admin/entitylist/" + type;

    });

  });

</script>

Are you sure you want to delete this entity?

<form id="delete-confirm">

  <input type="submit" class="btn btn-primary " value="Delete">
  <input type="reset" class="btn " id="cancel" value="Cancel">

</form>

