<!doctype html>

<html>

<!-- CSS and JS common to all pages --->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/modules/admin_ui/admin.css" />
<link rel="stylesheet" href="/modules/admin_ui/admin_menu.css" />

<script src="/modules/admin_ui/jsonform/deps/jquery.min.js"></script>
<script type="text/javascript" src="/modules/admin_ui/bootstrap/js/bootstrap.min.js"></script>

<body>

  <!--- This is intended as a general wrapper for all admin pages. --->

  [[[menu admin_toolbar]]] [[[MAINCONTENT]]]

</body>

</html>
