
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<script src="/admin/jsonform/deps/jquery.min.js"></script>
<script src="/admin/jsonform/deps/underscore-min.js"></script>
<script src="/admin/jsonform/deps/opt/jquery.ui.custom.js"></script>
<script src="/admin/jsonform/deps/opt/bootstrap-dropdown.js"></script>
<script src="/admin/jsonform/deps/opt/bootstrap-typeahead.js"></script>
<script src="/admin/jsonform/deps/opt/bootstrap-tagsinput.min.js"></script>
<script src="/admin/jsonform/deps/opt/spectrum.js"></script>
<script src="/admin/jsonform/deps/opt/jquery.transloadit2.js"></script>

<script src="/admin/jsonform/lib/jsonform.js"></script>

<link rel="stylesheet" href="/admin/admin.css" />


<h1></h1>

<form></form>


<script>
  $(document).ready(function() {

    $.get("/admin/api/schema/fieldtypes", function(data) {

      var fields = JSON.parse(data).response;

      var select = "";

      select += "<option>Pick an item</option>";

      var i = 0;

      $.each(fields, function(index, element) {

        if (index !== "choose") {

          fields.object.properties.subfields.items.properties[index] = JSON.parse(JSON.stringify(element));
          select += "<option value='" + i + "'>" + index + "</option>";

          i += 1;

        }

      });

      JSONForm.elementTypes['choose'] = Object.create(JSONForm.elementTypes['text']);
      JSONForm.elementTypes['choose'].template = '<select value="<%= escape(value) %>" name="<%= node.name %>" onchange="chooseField(event)" class="field-collection-select form-control">' + select + '</select>';

      JSONForm.elementTypes['choose'].onInsert = function(e, node) {

        if (node.value) {

          var choice = node.value;

          $("select[name='" + node.name + "']").val(choice);

          var parent = $("select[name='" + node.name + "']").closest("fieldset")
          $(parent).children("fieldset").hide();
          $(parent).children("fieldset").find("*[name]").attr("disabled", "true");
          $(parent).find("fieldset").eq(choice).show().find("*[name]").removeAttr("disabled");

        } else {

          $("select[name='" + node.name + "']").closest("fieldset").children("fieldset").hide();

        }

      };

      window.chooseField = function(e) {

        var choice = e.target.value;

        var parent = $(e.target).closest("fieldset");

        $(parent).children("fieldset").hide();
        $(parent).find("fieldset").find("*[name]").attr("disabled", "true");

        $(parent).find("fieldset").eq(choice).show().find("*[name]").removeAttr("disabled");

      };

      schema.schema.fields = {

        "type": "array",
        "title": "Fields",
        "description": "Fields on this entity type",
        "required": true,
        "items": {
          type: "object",
          "title": "Choose fields",
          "properties": fields
        }
      }


      //Get type from url

      var urlparts = document.location.pathname.split("/");

      window.type = urlparts[urlparts.length - 1];

      $.get("/admin/api/schema/edit/" + type + "/form", function(data, errors) {

        schema.value = {
          "entityname": type,
          "fields": data
        }

        $('form').jsonForm(schema);

      });

    });

  });

</script>

<script>
  var schema = {
    "schema": {},
    "form": ["*", {
      "type": "submit",
      "title": "Submit"
    }],
    onSubmit: function(errors, values) {

      if (errors) {
        console.error(errors);
      } else {

        values.credentials = {
          "apikey": "letmein",
          "secretkey": "letmein"
        };

        $.post("/admin/api/schema/edit/" + type, values, function(data, status) {

          if (status === "success") {

            document.location.href = "/admin/entities";

          };

        });

      }
    }
  }

</script>
