<script>
  $.get("/modules/admin_ui/api/entitytypes", function(data, err) {

    $.each(data, function(index, element) {

      $("#entity-types").append("<li><h3>"+element+"</h3><ul><li><a href='/modules/admin_ui/entitylist/"+element+"'>View content</a></li><li><a href='/modules/admin_ui/create/"+element+"'>Create new</a></li><li><a href='/modules/admin_ui/schema/edit/"+element+"'>Edit entity fields</a></li></ul></li>");

    });

  });

</script>

<h1>Edit entity types</h1>
<h2>Add/modify fields</h2>
<ul id="entity-types"></ul>
<a class="btn" href="/modules/admin_ui/schema/create">Create a new entity type</a>

