
<div id="main" class="col-md-8">

    <h1 class="page-title"><?js= title ?></h1>

    <?js= content ?>
</div>

<nav class="col-md-4">
    <?js= this.nav ?>
</nav>

<br class="clear">



<script> prettyPrint(); </script>

