
<p>This is the Iris administration area. Here, you will find tools and options that allow you to set up and configure your Iris site.</p>

<p>The navigation bar above contains links to all the administration functionality.</p>

<p>The <a href="https://github.com/CityWebConsultants/Iris/wiki">official Iris documentation</a> covers the essential features and options. Specifically, have a look at the sections on <a href="https://github.com/CityWebConsultants/Iris/wiki/Setting-up-an-Iris-site">Setup and Installation</a> for essential concepts and <a href="https://github.com/CityWebConsultants/Iris/wiki/Theme-and-template-system">Theming and Frontend</a> for customising your site.</p>
