<!--<h1>List of {{type}} entities</h1> -->

<p>
</p>

<table class="table" id="entity-list">
  
  <tbody>
    <tr class="admin-header">
    <th>ID</th>
    <th>Title (if applicable)</th>
    <th>Options <a class="btn btn-info right" href="/{{type}}/create">Create new {{type}}</a></th>
    </tr>
    {{#each entities}} 
    
    <tr>
      <td>{{#if path}}<a href="{{path}}">{{eid}}</a>{{else}}{{eid}}{{/if}}</td>
      <td>{{#if path}}<a href="{{path}}">{{username}}{{title}}</a>{{else}}{{username}}{{title}}{{/if}}</td>
      <td><a class="btn btn-default" href="/{{ entityType }}/{{ eid }}/edit">Edit</a> &nbsp;
        <a class="btn btn-danger" href="/{{ entityType }}/{{ eid }}/delete">Delete</a></td>
    </tr>
    
    {{/each}}

  </tbody>
</table>
