<style>
  ._jsonform-array-addmore {
    display: none;
  }
  
  ._jsonform-array-deletelast {
    display: none;
  }

  
  #new-field ._jsonform-array-item-delete {
    display: none !important;
  }
  
  #new-field .draggable {
    display: none;
  }

</style>

{{#if entityType}}

  <div class="admin-header admin-header-padding">Edit Entity</div>

  <div id="current-fields">
    

      {{{iris 'form' '{"name":"schema","entityType":"$entityType","existing":true}'}}}

  </div>

{{else}}

<div class="admin-inputs">

  <div class="admin-header admin-header-padding">Create A New Schema</div>
  
  {{{iris 'form' '{"name":"schema","existing":false}'}}}

</div>

{{/if}}

