
<script>
  $(document).ready(function() {

    var type = '{{type}}';
    var id = {{id}};

    // Confirmation form handler

    $("#delete-confirm").submit(function (e) {

      e.preventDefault();

      var values = {};

      $.post("/entity/delete/" + type + "/" + id, values, function(err, data) {

        document.location.href = "/admin/entitylist/" + type;

      });

    });

    $("#cancel").click(function (e) {

      e.preventDefault();

      document.location.href = "/admin/entitylist/" + type;

    });

  });

</script>

{{text}}

<form id="delete-confirm">

  <input type="submit" class="btn btn-primary " value="Delete">
  <input type="reset" class="btn " id="cancel" value="Cancel">

</form>

