<style>
  ._jsonform-array-addmore {
    display: none;
  }
  
  ._jsonform-array-deletelast {
    display: none;
  }

  
  #new-field ._jsonform-array-item-delete {
    display: none !important;
  }
  
  #new-field .draggable {
    display: none;
  }

</style>

{{#if entityType}}

<h1>Delete Schema Type: {{entityType}}</h1>

<p>

  Are you sure you want to delete this entity? This will also delete all it's data in the database.

</p>
<br />

<div id="current-fields">
  [[[form schemaDelete,{{entityType}}]]]
</div>

{{else}}

<h1>Schema Not Found</h1>

[[[form schema,{{entityType}}]]]

{{/if}}

