<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="//cdn.ckeditor.com/4.5.3/standard/ckeditor.js"></script>

  <script src="/admin/jsonform/deps/jquery.min.js"></script>
  <script src="/admin/jsonform/deps/underscore-min.js"></script>
  <script src="/admin/jsonform/deps/opt/jquery.ui.custom.js"></script>
  <script src="/admin/jsonform/deps/opt/bootstrap-dropdown.js"></script>
  <script src="/admin/jsonform/deps/opt/bootstrap-typeahead.js"></script>
  <script src="/admin/jsonform/deps/opt/bootstrap-tagsinput.min.js"></script>
  <script src="/admin/jsonform/deps/opt/spectrum.js"></script>
  <script src="/admin/jsonform/deps/opt/jquery.transloadit2.js"></script>

  <script src="/admin/jsonform/lib/jsonform.js"></script>

  <link rel="stylesheet" href="/admin/admin.css" />
  <script src="/admin/adminui.js"></script>


</head>


<body>

  <h1></h1>

  <form></form>


  <script>
    $(document).ready(function() {

      var type = document.location.pathname.split("/")[document.location.pathname.split("/").length - 1];

      $("h1").text("Edit " + type);

      $.get(document.location.pathname + "/form").done(function(data) {

        data.onSubmit = function(errors, values) {

          if (errors) {
            $('#res').html('<p>I beg your pardon?</p>');
          } else {

            values.credentials = {
              "apikey": "letmein",
              "secretkey": "letmein"
            };

            var path = document.location.pathname.split("/");

            var type = path[path.length - 2];
            var id = path[path.length - 1]

            values._id = id;

            $.post("/entity/edit/" + type + "/" + id, values, function(err, data) {

              document.location.href = "/admin/entitylist/" + type;

            })

          }
        };

        $('form').jsonForm(data);

        $("textarea").each(function() {
          CKEDITOR.replace(this, {

            filebrowserUploadUrl: '/admin/file/upload'

          });
        });

        for (var i in CKEDITOR.instances) {

          CKEDITOR.instances[i].on('change', function(e) {

            var data = e.editor.getData();

            $(e.editor.element)[0].$.innerHTML = data;

          });

        };

      });

    });

  </script>

</body>

</html>
