<!doctype html>

<html>
  
<!-- CSS and JS common to all pages --->

  <head>
    <script src="/modules/forms/jsonform/deps/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/modules/admin_ui/admin.css" />
    <script type="text/javascript" src="/modules/admin_ui/bootstrap/js/bootstrap.min.js"></script>
    [[[tags headTags,-jQuery]]]
  </head>

<body>
    
  <!--- This is intended as a general wrapper for all admin pages. --->

  [[[menu admin_toolbar]]]

  <section id="main">

  {{{iris_messages}}}

    [[[MAINCONTENT]]]

  </section>

</body>

</html>
