<script>

  $('body').on('click', '#entity-types .dropdown .glyphicon', function (e) {
    $(this).parent().toggleClass('closed');
  });
  
</script>

<h1>Edit entity types</h1>
<h2>Add/modify fields</h2>
<table id="entity-types">
  <thead>
    <tr>
      <th>Entity name</th>
      <th>Options</th>
    </tr>
  </thead>

{{#each entityTypes}}

<tr><td>{{this}}</td><td><div class="dropdown closed"><span class="glyphicon glyphicon-chevron-down"></span><ul><li><a href='/admin/entitylist/{{this}}'>View content</a></li><li><a href='/admin/create/{{this}}'>Create new</a></li><li><a href='/admin/schema/{{this}}'>Edit entity fields</a></li></ul></div></td></tr>

{{/each}}

  
</table>
<a class="btn btn-primary" href="/admin/schema/create">Create a new entity type</a>

