<!doctype html>

<html>
  
    [[[tags headTags]]]

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/modules/system/admin.css" />
<link rel="stylesheet" href="/modules/system/admin_menu.css" />

<title>Iris</title>

<body>
  
  <style>
    .main-container {
      margin: 0 auto;
      width: 800px;
      border: 1px solid #efefef;
      border-radius: 6px;
      padding: 20px;
      margin-top: 50px;
    }

  </style>

  <div class="main-container">
    
    {{{iris_messages}}}

    <div class="iris-description">
      <h1>403 - Access Denied</h1>

      <br />

      <p>You don't have permission to access this page.</p>
      
      [[[form login]]]
      
    </div>

  </div>

</body>

</html>
