<html>

  <head>

    <title>{{current.title}}</title>
    <script src="/modules/forms/jsonform/deps/jquery.min.js"></script>
    <link rel="stylesheet" href="/themes/base/bootstrap.min.css">
    <script type="text/javascript" src="/modules/system/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/themes/base/style.css">
    <link rel="shortcut icon" href="/themes/base/favicon.png" type="image/x-icon">
    [[[tags headTags,"-jQuery"]]]
    
  </head>

  <body class="{{current.entityType}}-{{current.eid}}">
      
    [[[menu admin_toolbar]]]

    <header id="page-header">
        
        [[[region header]]]
        
    </header>   
      
    <div id="content"> 
        <div class="container">
            
            {{{iris_messages}}}
            
            [[[MAINCONTENT]]]
            
        </div>
    </div>
  
    <footer id="page-footer">
        
        [[[region footer]]]
        
    </footer>

  </body>

</html>
